<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--引入mybatis配置文件-->
    <!--<import resource="classpath:spring-mybatis.xml" />-->
    <import resource="classpath:spring-mybatis.xml"/>
    <!--<aop:aspectj-autoproxy/>-->
    <!--自动扫描注入-->
    <!--<context:component-scan base-package="com.spring_mybatis" />
    <context:annotation-config/>-->
    <context:component-scan base-package="com.ym.ssm">
    </context:component-scan>
    <!--引入db.properties文件-->
    <context:property-placeholder location="classpath:jdbc.properties" />

</beans>